
back-end/API/.vs/API/DesignTimeBuild/.dtbcache.v2
back-end/API/.vs/API/v17/.futdcache.v2
back-end/API/.vs/API/v17/.suo
back-end/API/.vs/ProjectEvaluation/api.metadata.v7.bin
back-end/API/.vs/ProjectEvaluation/api.projects.v7.bin
back-end/API/.vs/API/v17/.suo
